li {
    margin: 4px;
}
a {
    text-decoration: none;
    color: darkgray;
}
a:hover {
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
}
body-overflow {
    overflow-y: scroll;
}
.float-right {
    text-decoration: none;
}
.green {
    text-decoration: none;
    color: rgb(9, 145, 9);
}
.black {
    color: black;
    text-decoration: none;
}
.red {
    color: red;
    text-decoration: none;
}
.black-bold {
    color: rgb(115, 115, 115);
    font-weight: bold;
    text-decoration: none;
}
.darkgray {
    color: darkgray;
    text-decoration: none;
}
.orangered {
    text-decoration: none;
    color: orangered;
}
.orange {
    font-weight: bold;
    color: orange;
}
.cadetblue {
    color: cadetblue;
    text-decoration: none;
}
.az-green-normal {
    color: rgb(10, 175, 10);
    font-size: large;
    font-weight: normal;
}
.az-green-bold {
    font-size: large;
    font-weight: bold;
    color: rgb(24, 135, 82);
}
.az-darkgrey-normal {
    font-size: large;
    font-weight: normal;
    color: rgb(125, 125, 125);
}
.az-normal {
    font-size: small;
    font-weight: normal;
}
.az-nav {
    text-align: justify;
    justify-items: last baseline;
}
